[submodule "Relatório_8/C214-CI_CD"]
	path = Relatório_8/C214-CI_CD
	url = https://github.com/GuiTomazoli/Aula_08_C214_L1.git
[submodule "Relatório_8/Aula_08_C214_L1"]
	path = Relatório_8/Aula_08_C214_L1
	url = https://github.com/GuiTomazoli/Aula_08_C214_L1.git
